<div id="about-wrapper">
	<div id="aboutJumbo" class="jumbotron">
    <br>
		<h1 id="about-title">About Myself</h1>
		<p>I'm a knowledge-thirsty Web Developer exploring the wild world of Javascript, Ruby on Rails, and so much more!</p>
	</div>


	<div id="about-container" class="container">
		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading"><b>Experience</b></h2>
				<p class="lead standard-text">I am a scrappy, motivated Web Developer who is forging development adventures through the wild world of the internet! I spend my work week at Superior Court of California working as a Programmer/Systems Analyst crafting positive experiences through development projects. With my nights jumping between React, Redux, and Ruby on Rails building a unique developer tool belt. When I am not hand crafting code line by line I am spending time with my incredible wife and two wonderful daughters, devouring all things Game Of Thrones, and driving around my ramshackled 240sx!</p>
			</div>
			<div class="col-md-5">
				<%= image_tag("Jim_Nov_17.JPG", class: "featurette-image img-responsive center-block") %>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 col-md-push-5">
				<h2 class="featurette-heading"><b>Education</b></h2>
				<p class="lead standard-text">I received my formal education from DeVry University at their Bakersfield campus. I attended and completed courses for a Bachelors Degree in Computer Information Systems starting in July 2009 and finished in December 2013. During my studies I was taught standard programming concepts and trained how to implement them using a variety of programming languages. I continue to push my learning through personal development projects, writing developer focused <%= link_to "Medium articles", 'https://medium.com/@CodingMorrison' %>, along with attending monthly JavaScript meetups!</p>
			</div>
			<div class="col-md-5 col-md-pull-7">
				<%= image_tag("edu_about.jpg", class: "featurette-image img-responsive center-block") %>
			</div>
		</div>
	</div>
</div>
