<section>
  <div class="row">
    <div class="col-md-12">
      <div id="intro" class="standard-title">
        <div class="container">
          <h1 id="introTitle" class="standard-title"><u>JIM MORRISON</u></h1>
          <h2 id="introTitle" class="standard-title">WEB DEVELOPER. WRITER.</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="doing" class="standard-text">
    <div class="row">
      <div class="col-md-12">
        <h1 id="doingTitle" class="standard-title"><u>What I Am Currently Doing</u></h1>
      <div class="row center">
        <div class="col-md-4">
          <h2><u>Work</u></h2>
          <%= image_tag("kern_county_sc-150x150.png", class: "proj-shot") %>
          <h3>Superior Court Of California</h3>
          <h4>Programmer/Systems Analyst</h4>
          <h5>January 2016 - Present</h5>
          <a class="btn btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#careerThree" aria-expanded="false" aria-controls="collapseOne">Details</a>
          <div id="careerThree" class="panel-collapse collapse" role="tabpanel">
            <p><i>Ruby on Rails, BootStrap, PostgreSQL, Microsoft SQL, Sidekiq, XCode, BitBucket, JIRA</i></p>
            <p>As a Programmer/System Analyst at the Superior Court of California, County of Kern I actively work in a two man development team programming, designing, deploying public and internal web applications.</p>
            <br>
            <p>My responsibilities include but are not limited to:</p>
            <ul>
              <li>Developing, designing, and deploying public facing government website and internal web applications. These applications are Ruby on Rails based with using PostgreSQL for the Databases.</li>
              <li>Handing feature and bug fixes requests originating from JIRA for a variety of web applications.</li>
              <li>Writing complex SQL statements for custom Enterprise Customer Reports.</li>
              <li>Creation of development documentation for Superior Court of California, County of Kern for Internal and Partner use.</li>
              <li>One of two developers involved in crafting 2017 award winning Top 10 Court Technology Solutions Court Website from National Association for Court Management.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h2 class="standard-title"><u>Side Project</u></h2>

          <h3>Udemy ES6 Course</h3>
          <i>In Development</i>
        </div>
        <div class="col-md-4">
          <h2 class="standard-title"><u>Latest Written Article</u></h2>
          <a class="white-linkage" href="https://medium.com/@CodingMorrison/hey-devs-lets-build-a-simple-react-clock-36365da0a561"><h3>Hey Devs, Let’s Build A Simple React Clock!</h3></a>
          <h5>October 22nd, 2017</h5>
          <p>Nothing is better than a quick programming trinket that tosses away the traditional “Hello World” tutorial. So let’s take 3 minutes and build a Clock that tells us our local time through React...<a class="white-linkage" href="https://medium.com/@CodingMorrison/hey-devs-lets-build-a-simple-react-clock-36365da0a561"><i>Read more</i></a></p>        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="about">
  <div class="row">
    <div class="col-md-12">
      <h1 id="aboutTitle" class="standard-title"><u>A Few Recommendations</u></h1>
      <h4 class="standard-title">Quotes from past colleagues</h4>
    <div class="row no-gutter popup-gallery">
      <div class="col-xs-6 col-md-3">
        <%= image_tag('https://s-media-cache-ak0.pinimg.com/originals/f5/75/98/f57598f66c15523c21c45ecd25106f33.jpg', class: 'img-responsive, img-thumbnail')%>
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content, white-text-centered">
            <h3><u>Tony Danza</u></h3>
            <h5>Retired Major League Baseball Player/House Keeper</h5>

            <p>"Jim is the absolute boss!"</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section> -->

<section class="blk_background">
  <div id="social-box" class="row">
    <div class="col-md-2">
      <a id="contact_src" href="mailto:jim@codingmorrison.com"><i class="fa fa-envelope-o fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://github.com/JimCMorrison"><i class="fa fa-github-square fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://medium.com/@CodingMorrison"><i class="fa fa-medium fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://www.instagram.com/codingmorrison/"><i class="fa fa-instagram fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://twitter.com/CodingMorrison"><i class="fa fa-twitter-square fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://www.linkedin.com/in/jimcmorrison"><i class="fa fa-linkedin-square fa-3x"></i></a>
    </div>
  </div>
</section>
