#blog-jumbo {
	background: asset-url("JS_presentation.jpg");
	position: relative;
	background-position: 100% 25%;
	background-size: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-weight: 100;
	color: white;
	text-shadow: 2px 2px 2px black;
  padding: 70px 0 70px 0;
  letter-spacing: .4 em;
}

#blog-container {
	font-size: 18px;
}

#recent-title {
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  padding: .4em;
}
