#social-box {
  background-color: black;
	text-align: center;
	padding: 0;
  bottom: 0;
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
}

#social-box a:link, #social-box a:visited {
	color: white;
}

#social-h {
  color: white;
  text-align: center;
  padding: 10px;
}
