#social-box {
  background-color: black;
	text-align: center;
	padding: 30px;
	border-radius: 25px;
}

#social-box a:link, #social-box a:visited {
	color: white;
}

#social-h {
  color: white;
  text-align: center;
  padding: 10px;
}
