<div id="social-box">
  <h2 id="social-h">Follow Me</h2>
  <div class="row">
    <div class="col-md-2">
      <a id="contact_src" href="mailto:jim@codingmorrison.com"><i class="fa fa-envelope-o fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://github.com/JimCMorrison"><i class="fa fa-github-square fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://medium.com/@CodingMorrison"><i class="fa fa-medium fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://www.instagram.com/codingmorrison/"><i class="fa fa-instagram fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://twitter.com/CodingMorrison"><i class="fa fa-twitter-square fa-3x"></i></a>
    </div>
    <div class="col-md-2">
      <a id="contact_src" href="https://www.linkedin.com/in/jimcmorrison"><i class="fa fa-linkedin-square fa-3x"></i></a>
    </div>
  </div>
</div>
